.course-register{
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 3em;
}

.course-form{
  text-align: left;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

.regis-button {
  width: 46%;
  background: #c63c2e;
  border: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #bfbfbf;
  color: white;
  padding: 1em;
  margin-top: 2em;
}
